/* Extra small devices (phones, 600px and down) 
 max-width */
$xs-devices: 600px;

/* Small devices (portrait tablets and large phones, 600px and up) 
 min-width */
$sm-devices: 600px;

/* Medium devices (landscape tablets, 768px and up) 
 min-width  */
$med-devices: 768px;

/* Large devices (laptops/desktops, 992px and up) 
 min-width  */
$lg-devices: 992px;

/* Extra large devices (large laptops and desktops, 1200px and up)
 min-width  */
$xl-devices: 1200px;
